## Agendas { Working with numpy and Pandas }
- Download existing dataset -> platform: kaggle
- Perform some operations on the dataset   ::-> Why?
- create some visualization

### Working with dataset
- 1:   import numpy and panda
- 2:   read the dataset in csv format
- 3:   explore the dataset
- 3.1: print first five rows of the dataset
- 3.2: print first end rows of dataset
- 3.3: print last 5 rows of dataset
- 3.4: Describe your dataset
- 3.5: how to find the total number of columns in every row with null values
- 3.6: print number of rows in columns, type of data and number of missing values. .info() & .describe() can be used to describe the basic information about dataset

In [1]:
#importing both the libs numpy and pandas
import numpy as np
import pandas as pd

In [2]:
my_data = pd.read_csv("products_data.csv")
my_data

,Name,Current Price,Previous Price,Price Per Each,Category,Product ID,Product URL,Amount,Units
0,English Cucumber,1.99,1.99,$1.99/1ea,Fresh Vegetables,20070132001_EA,https://www.realcanadiansuperstore.ca/english-...,1,ea
1,Green Onion,1.29,1.29,$1.29/1ea,Fresh Vegetables,20107500001_EA,https://www.realcanadiansuperstore.ca/green-on...,1,bunch
2,"Bi-Colour Corn, Corn on the Cob",0.99,0.99,$0.99/1ea,Fresh Vegetables,20131170001_EA,https://www.realcanadiansuperstore.ca/bi-colou...,1,ea
3,"Romaine Heart, 3 Pack",6.00,6.00,$2.00/1ea,Fresh Vegetables,20067389001_EA,https://www.realcanadiansuperstore.ca/romaine-...,3,pack
4,Red Peppers,2.38,2.38,$9.90/1kg,Fresh Vegetables,20007535001_KG,https://www.realcanadiansuperstore.ca/red-pepp...,1,ea
...,...,...,...,...,...,...,...,...,...
17254,Beef Sausage Rolls,8.79,8.79,$1.40/100g,Quiches & Pies,21116219_EA,https://www.realcanadiansuperstore.ca/beef-sau...,630,g
17255,Creamy Chicken and Vegetable Pot Pie,8.00,8.00,"$1,600.00/100g",Quiches & Pies,21401776_EA,https://www.realcanadiansuperstore.ca/creamy-c...,500,g
17256,Quiche Florentine,8.00,8.00,$1.60/100g,Quiches & Pies,21401761_EA,https://www.realcanadiansuperstore.ca/quiche-f...,500,g
17257,Green Tea,2.29,2.29,$0.48/100ml,Beverages,20923222_EA,https://www.realcanadiansuperstore.ca/green-te...,473,ml
17258,"Hard-boiled Eggs, Omega-3",1.29,1.29,$1.47/100g,Snacks & Dips,21049546_EA,https://www.realcanadiansuperstore.ca/hard-boi...,88,g

In [3]:
print(my_data.head(10)) #Accessing top 10 rows instead of deafult 5 rows

                              Name Current Price Previous Price  \
0                 English Cucumber          1.99           1.99
1                      Green Onion          1.29           1.29
2  Bi-Colour Corn, Corn on the Cob          0.99           0.99
3            Romaine Heart, 3 Pack          6.00           6.00
4                  Red Peppers              2.38           2.38
5                    Yellow Onions          2.99           2.99
6                    Celery Stalks          3.49           3.49
7                  Lettuce Iceberg          3.99           3.99
8                         Broccoli          3.99           3.99
9                        Red Onion          2.03           2.03

  Price Per Each          Category      Product ID  \
0      $1.99/1ea  Fresh Vegetables  20070132001_EA
1      $1.29/1ea  Fresh Vegetables  20107500001_EA
2      $0.99/1ea  Fresh Vegetables  20131170001_EA
3      $2.00/1ea  Fresh Vegetables  20067389001_EA
4      $9.90/1kg  Fresh Vegetables  20007535001_KG
5     $0.22/100g  Fresh Vegetables  20811994001_EA
6      $3.49/1ea  Fresh Vegetables  20163119001_EA
7      $3.99/1ea  Fresh Vegetables  20135326001_EA
8      $3.99/1ea  Fresh Vegetables  20145621001_EA
9      $5.49/1kg  Fresh Vegetables  20134101001_KG

                                         Product URL Amount  Units
0  https://www.realcanadiansuperstore.ca/english-...      1     ea
1  https://www.realcanadiansuperstore.ca/green-on...      1  bunch
2  https://www.realcanadiansuperstore.ca/bi-colou...      1     ea
3  https://www.realcanadiansuperstore.ca/romaine-...      3   pack
4  https://www.realcanadiansuperstore.ca/red-pepp...      1     ea
5  https://www.realcanadiansuperstore.ca/yellow-o...      3     lb
6  https://www.realcanadiansuperstore.ca/celery-s...      1     ea
7  https://www.realcanadiansuperstore.ca/lettuce-...      1     ea
8  https://www.realcanadiansuperstore.ca/broccoli...      1     ea
9  https://www.realcanadiansuperstore.ca/red-onio...      1     ea

In [4]:
print(my_data.tail(7)) #Accessing bottom 7 rows instead of deafult 5 rows

                                       Name Current Price Previous Price  \
17252                  Margherita Flatbread          7.00           7.00
17253                      Veggie Flatbread          7.00           7.00
17254                    Beef Sausage Rolls          8.79           8.79
17255  Creamy Chicken and Vegetable Pot Pie          8.00           8.00
17256                     Quiche Florentine          8.00           8.00
17257                             Green Tea          2.29           2.29
17258             Hard-boiled Eggs, Omega-3          1.29           1.29

       Price Per Each        Category   Product ID  \
17252      $1.41/100g           Pizza  21333841_EA
17253      $1.40/100g           Pizza  21333794_EA
17254      $1.40/100g  Quiches & Pies  21116219_EA
17255  $1,600.00/100g  Quiches & Pies  21401776_EA
17256      $1.60/100g  Quiches & Pies  21401761_EA
17257     $0.48/100ml       Beverages  20923222_EA
17258      $1.47/100g   Snacks & Dips  21049546_EA

                                             Product URL Amount Units
17252  https://www.realcanadiansuperstore.ca/margheri...    495     g
17253  https://www.realcanadiansuperstore.ca/veggie-f...    500     g
17254  https://www.realcanadiansuperstore.ca/beef-sau...    630     g
17255  https://www.realcanadiansuperstore.ca/creamy-c...    500     g
17256  https://www.realcanadiansuperstore.ca/quiche-f...    500     g
17257  https://www.realcanadiansuperstore.ca/green-te...    473    ml
17258  https://www.realcanadiansuperstore.ca/hard-boi...     88     g

<div class="alert alert-block alert-info"> <b> When you don't have columns names </b><br>
names = ["length","breadth","height"]           //Making a list with all the columns names
<br>my_dataset.colums = names                       // Assign in dataset columns
<br>Excercise: If my columns names are greater than of my dataset, what will be the error? </div>

In [5]:
my_data.info()  #For getting basic info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17259 entries, 0 to 17258
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            17259 non-null  object
 1   Current Price   17259 non-null  object
 2   Previous Price  17259 non-null  object
 3   Price Per Each  17259 non-null  object
 4   Category        17259 non-null  object
 5   Product ID      17259 non-null  object
 6   Product URL     17259 non-null  object
 7   Amount          17259 non-null  object
 8   Units           17259 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

In [6]:
my_data.describe()   #descriptive statistics of a DataFrame

,Name,Current Price,Previous Price,Price Per Each,Category,Product ID,Product URL,Amount,Units
count,17259,17259,17259,17259,17259,17259,17259,17259,17259
unique,13147,817,829,1527,118,14423,14423,982,12
top,Soy Sauce,4.99,4.99,$1.50/100g,Chips & Snacks,21190251_EA,https://www.realcanadiansuperstore.ca/apples-c...,1,g
freq,17,823,823,189,951,14,14,1513,10792

In [7]:
#the drop() function is used to remove specified rows or columns from a DataFrame
my_data.drop(["Product URL","Category"], axis=1).head()

,Name,Current Price,Previous Price,Price Per Each,Product ID,Amount,Units
0,English Cucumber,1.99,1.99,$1.99/1ea,20070132001_EA,1,ea
1,Green Onion,1.29,1.29,$1.29/1ea,20107500001_EA,1,bunch
2,"Bi-Colour Corn, Corn on the Cob",0.99,0.99,$0.99/1ea,20131170001_EA,1,ea
3,"Romaine Heart, 3 Pack",6.00,6.00,$2.00/1ea,20067389001_EA,3,pack
4,Red Peppers,2.38,2.38,$9.90/1kg,20007535001_KG,1,ea

In [8]:
my_data.isnull()  # TO find the null data in any dataframe

,Name,Current Price,Previous Price,Price Per Each,Category,Product ID,Product URL,Amount,Units
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
17254,False,False,False,False,False,False,False,False,False
17255,False,False,False,False,False,False,False,False,False
17256,False,False,False,False,False,False,False,False,False
17257,False,False,False,False,False,False,False,False,False
17258,False,False,False,False,False,False,False,False,False

<div class="alert alert-block alert-info"><b>Why to delete rows? </b><br>
    One answer can be:  to remove biasing from the dataset while training to ML Model </div>

In [9]:
#Way to remove the rows
my_data.drop(range(1, 10000), axis=0)

,Name,Current Price,Previous Price,Price Per Each,Category,Product ID,Product URL,Amount,Units
0,English Cucumber,1.99,1.99,$1.99/1ea,Fresh Vegetables,20070132001_EA,https://www.realcanadiansuperstore.ca/english-...,1,ea
10000,Milk Chocolate Caramels,2.99,2.99,$2.58/100g,Candy & Chocolate,21425418_EA,https://www.realcanadiansuperstore.ca/milk-cho...,116,g
10001,LINDOR Milk Chocolate Truffles Bag,8.99,8.99,$5.99/100g,Candy & Chocolate,21390291_EA,https://www.realcanadiansuperstore.ca/lindor-m...,150,g
10002,COOKIES 'N' CRÈME candy,5.49,5.49,$3.19/100g,Candy & Chocolate,20309056_EA,https://www.realcanadiansuperstore.ca/cookies-...,172,g
10003,"TWIX Caramel Cookie Chocolate Candy Bar, King ...",1.79,2.19,$2.11/100g,Candy & Chocolate,20686572005_EA,https://www.realcanadiansuperstore.ca/twix-car...,85,g
...,...,...,...,...,...,...,...,...,...
17254,Beef Sausage Rolls,8.79,8.79,$1.40/100g,Quiches & Pies,21116219_EA,https://www.realcanadiansuperstore.ca/beef-sau...,630,g
17255,Creamy Chicken and Vegetable Pot Pie,8.00,8.00,"$1,600.00/100g",Quiches & Pies,21401776_EA,https://www.realcanadiansuperstore.ca/creamy-c...,500,g
17256,Quiche Florentine,8.00,8.00,$1.60/100g,Quiches & Pies,21401761_EA,https://www.realcanadiansuperstore.ca/quiche-f...,500,g
17257,Green Tea,2.29,2.29,$0.48/100ml,Beverages,20923222_EA,https://www.realcanadiansuperstore.ca/green-te...,473,ml
17258,"Hard-boiled Eggs, Omega-3",1.29,1.29,$1.47/100g,Snacks & Dips,21049546_EA,https://www.realcanadiansuperstore.ca/hard-boi...,88,g

In [10]:
my_data.isnull().sum() #Shows the total nulls in all columns lof the dataset

Name              0
Current Price     0
Previous Price    0
Price Per Each    0
Category          0
Product ID        0
Product URL       0
Amount            0
Units             0
dtype: int64

In [16]:
my_data['Amount'] = pd.to_numeric(my_data['Amount'], errors='coerce')

# Calculate mean, skipping NaN values
mean_previous_price = my_data['Amount'].mean(skipna=True) # To find mean of specific column

print(mean_previous_price)

295.07222045801524

In [ ]:
#my_data.groupby(['Category']).mean

In [17]:
my_data['Previous Price'].max()

'9.99'

In [19]:
my_data['Current Price'].min()

' 0.18'

### Assignment: to find the sum of column element

### My learning from operations in dataset
- 1. I learned how to seek for the dataset from the internet and import in the notebook for the further operation.
- 2. leaned to get the basic info about not-null count and Datatype from the info() function and Descriptive statistics of dataset from describe() function
- 3. ways to observe the specific numbers of top columns and rows
- 4. ways to remove the specific number of rows and columns
- 5. to remove the biasing, we can remove the rows

## Working with matplotlib

In [ ]:
pip install matplotlib #Installing Matplotlib

In [ ]:
import matplotlib.pyplot as plt #importing matplotlib

In [ ]:
plt.hist(my_data['Current Price'],bins= 10, range=(0,10))
plt.title('Current Price')

In [ ]:
plt.scatter(my_data['Current Price'], my_data['Previous Price'])
plt.xlabel('Current')
plt.ylabel('Previous')

### My insight from the observing the dataset
-